*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-align: center; */
}
body
{
    background-color: rgba(241, 142, 28, 0.774);
    text-align: center;
}
#content{
    text-align: center;
    font-size: 70px;
    font-family: fantasy;
    color: white;
    text-shadow: 10px 0px 0px grey;
}
.slider{
    display: inline-block;
    min-height: 500px;
    min-width: 400px;
    background-color: blue;
    position: relative;
    box-shadow:  0px -10px 10px grey, 10px 0px 10px grey;
}
.pages{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform-origin: left;
    box-shadow: 1px 1px 5px grey;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
}
.right,.left{
    position: absolute;
    height: 40px;
    width: 40px;
    right: -100px;
    bottom: 50%;
    color: white;
    font-size: xx-large;
    font-weight: 900;
    transition: color 0.3s ease;
}
.left{
    left:-100px;
}
.right:hover,.left:hover{
    color: rgba(30, 62, 167, 0.103);
    cursor: pointer;
    text-shadow: 0px 1px 10px rgba(119, 119, 119, 0.226);
}
